<test-riot>
  <div>
    <test-inject>
      <yield />
    </test-inject>
  </div>
  <script>
    export default {
      onMounted() {
        console.log('hello')
      }
    }
  </script>
</test-riot>
