<test-riot>
  <p>test from riot</p>
  <script>
    export default {
      onBeforeMount() {
        let t = document.createElement('template')
        let fr = document.createDocumentFragment()
        Array.from(this.root.children).map(v => fr.appendChild(v))
      }
    }
  </script>
</test-riot>
