<test-riot>
  <h1>{ state.fr.querySelector('h2').innerText }</h1>
  <p>{ state.fr.querySelector('p').innerText }</p>
  <script>
    export default {
      onBeforeMount() {
        let fr = document.createDocumentFragment()
        Array.from(this.root.children).map(v => fr.appendChild(v))
        this.state.fr = fr
      }
    }
  </script>
</test-riot>
